##Carga del Dataset Diamonds

In [ ]:
pip install pandas

In [24]:
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import numpy as np



import random
import pickle as pkl

In [ ]:
print(f"pandas={np.__version__}")

## Carganos el Csv

In [38]:
df = pd.read_csv("/users/varso/MODULO3/DataFrame/diamonds.csv")

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53939 non-null  float64
 1   cut      53937 non-null  object
 2   color    53938 non-null  object
 3   clarity  53938 non-null  object
 4   depth    53940 non-null  float64
 5   table    53938 non-null  float64
 6   price    53938 non-null  object
 7   x        53938 non-null  object
 8   y        53939 non-null  float64
 9   z        53939 non-null  float64
dtypes: float64(5), object(5)
memory usage: 4.1+ MB

## Busqueda de NAN's

* Realizo la busqueda de los Nans por columnas con .isnull() y .isna()

In [ ]:
df.isnull().sum()

In [ ]:
df.isna().sum()

# Limpieza de nulos | Tratamiento de nulos

* Rellenar Nulos por columna con mediana

In [44]:

df['carat'] = df['carat'].fillna(df['carat'].median())
df['table'] = df['table'].fillna(df['table'].median())
df['y'] = df['y'].fillna(df['y'].median())
df['z'] = df['z'].fillna(df['z'].median())

In [45]:

df.isna().sum()

carat      0
cut        3
color      2
clarity    2
depth      0
table      0
price      2
x          2
y          0
z          0
dtype: int64